.expand {
margin: 0 auto;
padding: 0;
width:660px;
}

.topic {

color:white;
cursor: pointer;
position: relative;
background-color:#333;
border-radius: 10px;
height:50px;
text-align:left;
line-height: 50px;
padding-left:10px;
}

.content {
background-color:white;
margin:0 auto;
width:645px;
color:#333;

}

.show, .hide {
position: relative;
font-size:24px;
float:right;
margin-right:10px;
}
