.carousel {
float:left; 
width:90%; 
overflow: hidden; 

}

.carousel-list {
position:relative;
left:-210px; 
list-style-type: none; 
margin: 0px;
padding: 0px;
width:9999px; 

padding-bottom:10px;
}

.carousel-list li{
float: left;                                  
width:300px; 
padding:0px;
height:200px;
margin-top:10px;
margin-bottom:10px; 
margin-left:5px; 
margin-right:5px; 
}

.carousel-list li img {

cursor:pointer;
cursor: hand; 
border:0px; 
}
.scroll-left{
float:left; 
margin-right:15px; 
margin-top:85px;
}

.scroll-right{
float:left; 
margin-left:15px;
margin-top:85px;
}



#left_scroll img, #right_scroll img{

cursor: pointer;
cursor: hand;
}

.thumb{
width: 300px;
height: 200px;
margin:5px;

}